/*google fonts import Link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Algemene regels */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #11101d;

}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color:#fff;
    font-weight: 600;
}
.sidebar .nav-links{
    height: 100%;
    padding-top: 30px;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all O.4s ease;
}
.sidebar .nav-links li:hover{
    background: #1d1b31;
}
.sidebar .nav-links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-links .material-symbols-outlined{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar .nav-links li .sub_menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}
.sidebar .nav-links li .sub_menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
}