header {
    background-color: red;
}
nav ul li a {
    text-decoration: none;
}
h1 {
    display: flex;
    justify-content: center;
    size: 20px;
    margin-left: 5%;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0%;
    margin-right: 10%;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

body {
    background-color: #278f3f ;
    width: 1280px;
    height: 720px;
}

h2{
    display: flex;
    justify-content: center;
}
main {
    background-color: aquamarine;
}